.span5
  %br
  %h3 Create File
  %table{:style => 'width: 70%;'}
    %tbody
    %form{:method => 'post', :action => "/build", :enctype=>"multipart/form-data"}
      %tr
        %td{:style => 'width: 30%'}
          File Type
        %td{:style => 'width: 70%'}
          %select{ :name => "file_type"}
            - @types.each do |type|
              %option #{type}
      %tr
        %td{:style => 'width: 30%'}
          Payload Type
        %td{:style => 'width: 70%'}
          %select{ :name => "payload"}
            - @payloads.each do |k,v|
              %option #{k}
      %tr
        %td{:style => 'width: 30%'}
          Connect Back Protocol
        %td{:style => 'width: 70%'}
          %select{ :name => "proto"}
            - @protos.each do |proto|
              %option #{proto}
      %tr
        %td{:style => 'width: 30%'}
          Connect Back Hostname/IP (IP in payload)
        %td{:style => 'width: 70%'}
          %input{:type => 'text', :style => 'width: 90%', :name => 'hostname', :value => "127.0.0.1/a.dtd"}
      %tr
        %td{:style => 'width: 30%'}
          File To Exfiltrate (FILE in payload)
        %td{:style => 'width: 70%'}
          %input{:type => 'text', :style => 'width: 90%', :name => 'exfil_file', :value => "/etc/passwd"}
      %tr
        %td{:style => 'width: 30%'}
          Description of File
        %td{:style => 'width: 70%'}
          %input{:type => 'text', :style => 'width: 90%', :name => 'desc', :value => ""}
      %tr
        %td{:style => 'width: 30%'}
          %h4
            Advanced Optional Settings
      %tr
        %td{:style => 'width: 30%'}
          Specify XML File for DOCX/XSLX/PPTX/ODT
        %td{:style => 'width: 70%'}
          %input{:type => 'text', :style => 'width: 90%', :name => 'xml_file', :value => ""}
      %tr
        %td{:style => 'width: 30%'}
          File To Replace (Must Match File Type)
        %td{:style => 'width: 70%'}
          %input{:type => 'file', :name => 'file'}
      %tr
        %td{:style => 'width: 30%'}
      %tr
        %td{:style => 'width: 30%'}
          %input{:type => 'submit', :value => 'Build' }

