.span5
  %br
  %h3 File Contents
  %table{:style => 'width: 90%;', :class => "table-responsive"}
    %tbody
      %tr
        %td{:style => 'width: 45%'}
      - @files.each do |file|
        %tr
          %td{:style => 'width: 5%'}
            #{file["name"]}
            %span{:class=>"glyphicon glyphicon-plus","data-toggle"=>"collapse", "data-target"=>"#info_#{file["id"]}"}
            .info{ :id => "info_#{file["id"]}", :class => "collapse out" }
              %pre{:class => "pre-scrollable"}
                #{file["contents"]}