!!!
%html{:lang => "en"}
  %head
    %script{:src => "/js/jquery.js"}
    %script{:src => "/js/bootstrap-collapse.js"}

    %meta{:charset => "utf-8"}/
    %title OXML XXE
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}/
    %link{:href => "/css/font-awesome.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #ffffff;
      }
      td {
          padding: 10px;
      }
      .padded {
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 0px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        %ul.nav{"class" => "padded"}
          %li
            %a{:href => '/help'}
              %h2
                OXML XXE
    .container-fluid
      .row-fluid
        .span2
          %br
          %br
          %ul.nav.nav-list
            %li.nav-header Options Menu
            %li
              %a{ :href => '/build' } Build a File
            %li
              %a{ :href => '/poc' } Build PDF/GIF/JPG PoC (Experimental)
            %li
              %a{ :href => '/replace' } String Replace in a File
            %li
              %a{ :href => '/xss' } XSS/String Entity in File
            %li
              %a{ :href => '/overwrite' } Overwrite file inside DOCX/etc.
            %br
            %br
            %li
              %a{ :href => '/list' } List Previously Built Files
            %li
              %a{ :href => '/display' } Display OXML Contents
        =yield
