.span8
  %br
  %h3 Overwrite XML File inside OXML file
  %table{:style => 'width: 100%;'}
    %tbody
    %form{:method => 'post', :action => "/overwrite", :enctype=>"multipart/form-data"}
      %tr
        %td{:style => 'width: 30%'}
          File To Insert Into
        %td{:style => 'width: 70%'}
          %input{:type => 'file', :name => 'file'}
      %tr
        %td{:style => 'width: 30%'}
          Specify File to replace in DOCX/XSLX/PPTX/ODT/etc. (e.g. _rels/rels)
        %td{:style => 'width: 70%'}
          %input{:type => 'text', :style => 'width: 90%', :name => 'xml_file', :value => ""}
      %tr
        %td{:style => 'width: 30%'}
          New XML Contents
        %td{:style => 'width: 70%'}
          %textarea{:rows=>"10", :cols=>"50", :name => 'xml_content', :value => ""}
      %tr
        %td{:style => 'width: 30%'}
          Upload New File Instead of XML Contents
        %td{:style => 'width: 70%'}
          %input{:type => 'file', :name => 'replace_file'}
      %tr
        %td{:style => 'width: 30%'}
      %tr
        %td{:style => 'width: 30%'}
          %input{:type => 'submit', :value => 'Build' }

